<div class="container full-question">
  <%= render 'questions/question', question: @question %>
</div><!-- container full-question -->

<div class="container answers-index">
</div>

<div class="container new-answer">
  <h3>Add an answer:</h3>
</div>

<%= link_to 'Back',
  category_questions_path(@category),
  class: 'btn btn-default',
  remote: true %>
