<div class="container-fluid questions-index">

  <%# Submits to questions#create %>
  <%= render '/questions/form' %>

  <%# Handled in assets pipeline %>
  <%= link_to 'Ask a Question', '#',
    class: 'btn btn-primary new-question' %>

  <% @questions.each do |question| %>
    <%= render '/questions/questions_prompt', question: question %>
  <% end %>
</div><!-- container-fluid questions-container -->
