<h1>Questions</h1>

<p><%= link_to 'New Question', new_question_path %></p>

<div class="questions">
	<% @questions.each do |question| %>
		<div class="question">
			<h3><%= question.title %></h3>
			<p><%= question.content.split.first %>...</p>
			<p><%= link_to 'Show', question_path(question) %></p>
		</div>
	<% end %>
</div>