<h1>Questions</h1>

<p><%= link_to 'New Question', new_question_path %></p>

<div class="questions">
	<table>
		<% @questions.each do |question| %>
			<tr>
				<td><strong><%= question.title %></strong></td>
			</tr>
			<tr>
				<td><%= question.content %></td>
			</tr>
			<tr>
				<td><%= link_to 'Show', question_path(question) %></td>
			</tr>
		<% end %>
	</table>
</div>