<%# Change to category name %>
<h1>Questions</h1>

<p><%= link_to 'New Question', '#', remote: true, class: 'new-question' %></p>
<%= render '/questions/form' %>

<div class="container questions-index">
  <% @questions.each do |question| %>
    <%= render '/questions/questions_prompt', question: question %>
  <% end %>
</div><!-- container questions-container -->
