<h1>Questions</h1>

<% @questions.each do |question| %>
	<div class="question">
		<h3><%= question.title %></h3>
		<article><%= question.content %></article>
		<p><%= link_to 'Show', question_path(question) %></p>
	</div>
<% end %>
