<div class="container full-question">
  <%= render 'questions/full_question' %>
</div><!-- container full-question -->

<div class="container answers-index">
  <%= render @question.answers.sort_by { |a| a.count_votes}.reverse! %>
</div>

<div class="container new-answer">
	<h3>Add an answer:</h3>
  <%= render 'answers/form' %>
</div>

<%= link_to 'Back', questions_path %>
