var userForm = "<%= j(render 'sessions/login_form') %>";

var lightbox =
'<div id="lightbox">' +
  '<a href="#" class="close-lightbox">' +
    '<span class="glyphicon glyphicon-remove"></span>' +
  '</a>' +
  '<div id="container">'+userForm+'</div><!-- /.container -->'
'</div><!-- /.#lightbox -->';

$('#lightbox-container').append(lightbox);
