var userForm = "<%= j(render 'users/signup_form') %>";

var lightbox =
'<div id="lightbox">' +
  '<div id="form-box">'
    +userForm+
  '</div><!-- /.container -->'
'</div><!-- /.#lightbox -->';

$('#lightbox-container').append(lightbox);
