<div id="lightbox">
  <a href="#" class="close-lightbox">
    <span class="glyphicon glyphicon-remove"></span>
  </a>
  <div class="container lightbox-form"></div><!-- /.container.lightbox-form -->
</div><!-- /.#lightbox -->
