<table>
		<tr>
			<td><%= button_to 'Up', up_vote_question_answer_path(@question, answer), method: :patch %></td>
			<td><%= button_to 'Down', down_vote_question_answer_path(@question, answer), method: :patch %></td>
		</tr>

		<tr>
			<td><%= answer.content %></td>
		</tr>

</table>
