.full-answer {
  @extend .question-prompt;
  padding: 2em 1em;
}

form.answer-form {
  @extend form.question-form;
}

.user-action {
  text-align: right;
  margin-top: 1em;

  .answer-delete {
    color: #9c4c2a;
  }
}

.answer-rating {
  text-align: center;
  font-size: 1.2em;

  .agree {
    color: #3b8869;

    &.voted {
      font-size: 1.3em;
      color: #1c6a4b;
    }
  }

  .disagree {
    color: #4a498b;

    &.voted {
      font-size: 1.3em;
      color: #204564;
    }
  }

  .voted {
    font-weight: bold;
  }
}

.answer-info {
  @extend .user-info;
  text-align: right;
}

.top-answer {
  @extend .top-question;
}
