.full-answer {
  @include align('top');
  padding: 2em 1em;
  border-bottom: $border;
}

.answer-rating {
  text-align: center;
  font-size: 1.2em;

  .agree {
    color: #3b8869;

    &.voted {
      font-size: 1.3em;
      color: #1c6a4b;
    }
  }

  .disagree {
    color: #4a498b;

    &.voted {
      font-size: 1.3em;
      color: #204564;
    }
  }

  .voted {
    font-weight: bold;
  }
}

.user-action {
  @include justify('right');

  p {
    margin: 0;
    font-size: 0.8em;
    font-style: italic;
  }

  .answer-delete {
    color: #9c4c2a;
  }
}

.top-answer {
  @extend .top-question;
}
