form.answer-form {
  @extend .question-form;

  #file-upload {
    position: relative;
    padding: 0.5em 0;
    border-radius: 3em;
    border: 3px solid #ddd;
    text-align: center;
  }

  #file-upload .wrapper {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    top: 0;
    z-index: 2;
  }

  #file-upload button {
    position: relative;
    top: 0;
    z-index: 1;
    background: none;
    border: none;
    color: $primary_color;
  }
}

.answers-index {
  width: 75%;
  margin: 1em auto;
}

.full-answer {
  @extend .question-prompt;

  .user-action {
    @extend .user-option;

    .answer-delete {
      @extend .question-delete;
    }
  } /* /.user-action */

  .answer-rating {
    font-size: 0.8em;

    a {
      color: $grey;

      &.voted {
        color: $orange;
      }
    }
  } /* /.answer-rating */

  .answer-content {
    @extend .question-content;
    font-size: 1.5em;
  }

  .answer-info {
    @extend .user-info;
  }
} /* /.full-answer */

/* Toggled on answer click */
.view-image {
  background: linear-gradient(
    rgba(0,0,0,0),
    rgba(0,0,0,0)
  );
}

/* Small screen adjustments */
@media (max-width: 425px) {
  .answers-index {
    width: 100%;
  }

  .full-answer {
    width: 100%;
    padding: 0.5em;

    .row {
      width: 100%;
      margin: 0 auto;
    }

    .user-action {
      .col-xs-12 {
        padding: 0;
      }

      span {
        font-size: 1em;
      }
    }
    
    .answer-rating {
      padding-left: 5px;
      padding-right: 10px;
      text-align: left;
    }

    .answer-content {
      font-size: 1em;
    }

    .answer-info {
      font-size: 0.6em;
    }
  } /* /.full-answer */
} /* /small screen adjustments */
