/* Title card */
.title-card {
  padding-top: 10%;
  text-align: center;

  h1 {
    font-size: 11em;
  }

  .intro-buttons {
    margin-top: 10%;

    .row {
      display: flex;
      align-items: center;
    }

    a {
      padding: 2em;
      font-size: 1.5em;
      color: $primary_color;
      @include transition('opacity');

      &:hover {
        @include intro_hover;
      }
    }

    span.glyphicon-chevron-down {
      @extend a;
    }
  }
}

.category-box {
  // display: flex;
  // justify-content: space-between;
  // flex-direction: column;
  padding: 2em 0;
  background: rgba(0,0,0,0.3);
  border-radius: $radius;
  text-align: center;
  @include transition(all);

  &:hover {
    background: rgba(0,0,0,0.5);
  }
}

.category-name {
  a:hover {
    text-decoration: none;
  }

  h1:hover {
    font-weight: bold;
  }
}

.category-description {
  font-style: italic;
}

// Small screen adjustments
@media (max-width: 425px) {
  .title {
    padding: 1em;

    h1 {
      font-size: 5em;
    }

  }
  .category-preview {
    padding: 0;

    .row {
      margin: 0;
    }
  }

  .category-box {
    margin: 1em 0;

    h2 {
      font-size: 2.5em;
    }

    h4 {
      font-size: 1.5em;
    }
  }
}
