@mixin shadow {
  box-shadow: 2px 3px 4px 2px #ccc;
  -webkit-box-shadow: 2px 3px 4px 2px #ccc;
  -moz-box-shadow: 2px 3px 4px 2px #ccc;
  -ms-box-shadow: 2px 3px 4px 2px #ccc;
}

@mixin transition($element) {
  transition: $element 0.2s ease-in;
  -webkit-transition: $element 0.2s ease-in;
  -moz-transition: $element 0.2s ease-in;
}

$border: 1px solid #ddd;
$radius: 0.5em;
$dark_blue: #61819b;

#main-content {
  width: 80%;
}

.category-row {
  @include align('center');
  padding: 3em;
  border-bottom: $border;
  border-radius: $radius;
  @include transition(all);

  .btn.btn-default {
    background: #c2d1dd;
    color: #666;
    @include transition(all);
  }

  &:hover {
    @include shadow;

    h3, h4, p {
      color: $dark_blue;
    }

    .btn.btn-default {
      background: #ffdaa8;
      font-weight: bold;
    }
  }
}

.category-name {
  @include align('center');
  padding-right: 3.5em;

  a:hover {
    text-decoration: none;
  }

  h3:hover {
    font-weight: bold;
  }
}

.category-description {
  font-style: italic;
}
