/* Title card */
.title-card {
  padding-top: 10%;
  text-align: center;

  h1 {
    margin: 0;
    font-size: 11em;
  }

  h2 {
    margin: 0;
  }

  .intro-buttons {

    margin-top: 1.5em;

    a {
      margin: 1em;
      font-size: 1.3em;
      color: $primary_color;
    }
  }

  .scroll-button {
    margin-top: 12%;

    span.glyphicon-chevron-down {
      opacity: 0.5;
      color: white;
      @include transition('opacity');

      &:hover {
        opacity: 1;
      }
    }
  }
}

.category-box {
  padding: 2em 0;
  background: $light_background;
  border-radius: $radius;
  text-align: center;
  @include transition(all);

  &:hover {
    background: $medium_background;
  }
}

.category-name {
  a:hover {
    text-decoration: none;
  }

  h1:hover {
    font-weight: bold;
  }
}

.category-description {
  font-style: italic;
}

// Small screen adjustments
@media (max-width: 425px) {
  .title-card {
    padding: 1em;

    h1 {
      font-size: 5em;
    }
  }
  .category-preview {
    padding: 0;

    .row {
      margin: 0;
    }
  }

  .category-box {
    margin: 1em 0;

    h2 {
      font-size: 2.5em;
    }

    h4 {
      font-size: 1.5em;
    }
  }
}
