@mixin background-cover {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.page-header {
  margin: 0;
  height: 20em;
  background: asset-data-url("skyline.png");
  @include background-cover;
  border: none;

  h1 {
    margin-top: 0;
    padding-top: 1em;
    padding-left: 0.5em;
    font-family: 'Abril Fatface', cursive;
    font-size: 8em;
    color: #fff7dd;
    text-shadow: 1px 1px 1px #111;
  }
}

@media (max-width: 425px) {
  .page-header {
    height: 10em;

    h1 {
      padding-top: 1em;
      padding-left: 0;
      font-size: 4.3em;
      text-align: center;
    }
  }
}
