/* All mixins */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@mixin justify($position) {
  display: flex;
  @if $position == 'center' {
    justify-content: center;
  } @else {
    justify-content: flex-end;
  }
}

@mixin align($position) {
  display: flex;
  @if $position == 'center' {
    align-items: center;
  } @else {
    align-items: flex-start;
  }
}

@mixin background-cover {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

@mixin shadow {
  box-shadow: 1px 2px 2px 1px #aaa;
  -webkit-box-shadow: 1px 2px 2px 1px #aaa;
  -moz-box-shadow: 1px 2px 2px 1px #aaa;
  -ms-box-shadow: 1px 2px 2px 1px #aaa;
}

@mixin transition($element) {
  transition: $element 0.2s ease-in;
  -webkit-transition: $element 0.2s ease-in;
  -moz-transition: $element 0.2s ease-in;
}

/* All variables */
$heading_font: 'Montserrat', sans-serif;
$text_font: 'Raleway', sans-serif;
$primary_color: white;
$border: 4px solid #fff;
$radius: 0.5em;
$dark_blue: #61819b;

/* General layout */
html {
  height: 100%;
  box-sizing: box_sizing;
}

body {
  margin: 50px 0;
  min-height: 100%;
  background: asset-data-url("background.png");
  @include background-cover;
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading_font;
  color: $primary_color;
}

p {
  font-family: $text_font;
  color: $primary_color;
}

#content {
  padding: 0;
}

#main-content {
}

/* All forms */
form {
  margin-top: 1.5em;
  padding-top: 50px;
}

.form-title {
  @include justify('center');
}

input, textarea, select, .uneditable-input {
  border: 1px solid #ddd;
  width: 100%;
  margin-bottom: 1em;
  @include box_sizing;
}

input {
  height: auto !important;
}

label {
  font-family: $text_font;
  color: $primary_color;
}

/* All buttons */
.btn.btn-default {
  background: none;
  border-radius: 3em;
  border: 4px solid #ddd;
  color: $primary_color;

  &:hover {
    background: #3d6281;
    border: 4px solid white;
    color: white;
  }
}

.btn.btn-primary {
  @extend .btn.btn-default;
  @include transition(all);
  margin-top: 1em;
  background: rgba(0,0,0,0.2);
  border: 4px solid #ffdaa8;
}

.btn-default.back {
  @extend .btn.btn-primary;
  border: 4px solid #ccc;
}

.btn.cancel-question {
  @extend .btn-default.back;
  margin: 1em 0;
}

.btn.cancel-answer {
  @extend .btn.cancel-question;
}

/* Icons */
.glyphicon {
  font-size: 2.3em;
  @include transition(all);

  &:hover {
    background: $primary_color;
    border: 5px solid $primary_color;
    border-radius: 2.5em;
  }
}

/* Small screens */
@media (max-width: 425px) {
  #main-content {
    width: 100%;
    padding: 0;
  }
}

