// Mixins & Variables
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@mixin justify($position) {
  display: flex;
  @if $position == 'center' {
    justify-content: center;
  } @else {
    justify-content: flex-end;
  }
}

@mixin align($position) {
  display: flex;
  @if $position == 'center' {
    align-items: center;
  } @else {
    align-items: flex-start;
  }
}

@mixin background-cover {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

$heading_font: 'Montserrat', sans-serif;
$text_font: 'Raleway', sans-serif;
$primary_color: white;

html {
  height: 100%;
  box-sizing: box_sizing;
}

body {
  position: relative;
  margin: 0;
  padding-top: 70px;
  padding-bottom: 70px;
  min-height: 100%;
  background: asset-data-url("background.jpg");
  @include background-cover;
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading_font;
  color: $primary_color;
}

p {
  font-family: $text_font;
  color: $primary_color;
}

#content {
  padding: 0;
}

#main-content {
  @extend html;
  width: 65%;
  padding-top: 5em;
}

// Forms
form {
  margin-top: 1.5em;
  padding-top: 50px;
}

.form-title {
  @include justify('center');
}

input, textarea, select, .uneditable-input {
  border: 1px solid #ddd;
  width: 100%;
  margin-bottom: 1em;
  @include box_sizing;
}

input {
  height: auto !important;
}

label {
  font-family: $text_font;
  color: $primary_color;
}

// Buttons
.btn.btn-default {
  background: none;
  border-radius: 3em;
  border: 4px solid #ddd;
  color: $primary_color;

  &:hover {
    background: #3d6281;
    border: 4px solid white;
    color: white;
  }
}

.btn.btn-primary {
  @extend .btn.btn-default;
  @include transition(all);
  background: rgba(0,0,0,0.2);
  border: 4px solid #ffdaa8;
}

.btn.back {
  @extend .btn.btn-primary;
  margin: 1em;
  border: 4px solid #ccc;
}

.btn.cancel-question {
  @extend .btn.back;
  margin: 1em 0;
}

.btn.cancel-answer {
  @extend .btn.cancel-question;
}

@media (max-width: 425px) {
  #main-content {
    width: 100%;
  }
}

// Icons
.glyphicon {
  font-size: 2.5em;
  @include transition(all);

  &:hover {
    background: $primary_color;
    border: 5px solid $primary_color;
    border-radius: 2.5em;
  }
}
