@mixin hover_text {
  font-weight: bold;
  color: $light_blue;
}

@mixin menu_dark {
  background: $nav_color;
  color: $grey;

  a:hover {
    color: $light_blue;
    font-weight: bold;
  }
}

.navbar-default {
  margin: 0;
  background: $nav_color;
  border: none;
  border-radius: 0;
  font-size: 1.2em;

  .navbar-brand {
    padding-top: 7px;
    color: $grey;

    &:hover {
      @include hover_text;
    }
  }

  .navbar-nav {
    li a {
      color: $grey;

      &:hover {
        @include hover_text;
      }

      &:visited {
        color: $grey;
      }
    }

    .navbar-greeting a {
      color: $light_blue;
    }

    .open {
      @include menu_dark;

      .dropdown-menu {
        @include menu_dark
      }
    }
  }
} /* /.navbar-default */

/* small screen adjustment */
@media (max-width: 768px) {
  .navbar-default li {
    font-size: 1.3em;
  } /* /.navbar-default li */
} /* /.small screens */
