@import 'categories';

// New Question Form
a.new-question {
  margin: 3em;
}

form.question-form {
  width: 75%;
  height: 100%;
  margin: 2em auto;
}

a.cancel-question {
  margin: 0.5em 0;
}

// Questions Index
.question-prompt {
  padding: 1.5em 1em;
  border-bottom: $border;
  border-radius: $radius;
  @include transition(all);

  .btn.btn-default {
    background: #c2d1dd;
    color: #666;
    @include transition(all);
  }

  &:hover {
    @include shadow;

    h3, h4 {
      color: $dark_blue;
    }
    .btn.btn-default {
      background: #ffdaa8;
      font-weight: bold;
    }
  }
}

.question-title {
  a:hover {
    text-decoration: none;
  }

  h3:hover {
    font-weight: bold;
  }
}

.question-preview {
  display: flex;
  align-items: center;
  padding-top: 1em;
  
  h4 {
    font-style: italic;
  }
}

.question-expand {
  text-align: right;
}

.question-rating {
  text-align: center;
}

// Full question
.full-question {
  width: 80%;
}

.user-action{
  a {
    margin: 0;
    text-align: right;
  }

  p {
    font-size: 0.8em;
    font-style: italic;
    text-align: right;
  }
}
