// New Question Form
.category-title {
  @extend .title-card;

  h1 {
    font-size: 4em;
  }
}

form.question-form {
  width: 45%;
  height: 100%;
  margin: 2em auto;

  label {
    font-size: 2em;
  }
}

a.cancel-question {
  margin: 0.5em 0;
}

// Mini grid for question navigation
.questions-nav {
  margin: 2em 0;

  .col-sm-2 {
    padding-left: 0;
  }

  .question-search {
    padding-right: 2em;

    input {
      border: $border;
    }
  }
}

// Questions Index
.question-prompt {
  margin-top: 1.3em;
  padding: 3em;
  background: rgba(0,0,0,0.3);
  border-radius: $radius;
  @include transition(all);

  &:hover {
    background: rgba(0,0,0,0.5);
  }
  padding: 1.5em 1em;
}

.question-prompt .question-title {
  a:hover {
    text-decoration: none;
  }

  h3:hover {
    font-weight: bold;
  }
}

.question-preview {
  padding-top: 1em;
  
  h4 {
    font-style: italic;
  }
}

.question-expand {
  @include justify('right');
}

.question-rating {
  @include justify('center');
}

.top-question {
  @extend .question-prompt;
  @include shadow;
}

// Full question
.full-question {

  .question {
    @extend .question-prompt;
    background: rgba(0,0,0,0.5);
  }

  p {
    font-size: 2em;
  }
}

.question-heading {
  margin-bottom: 1em;

  .user-option {
    @include justify('right');

    .question-edit {
      margin-right: 0.5em;
      color: #61819b;
    }

    .question-delete {
      color: #9c4c2a;
    }
  }
}

.user-info{
  padding-top: 1em;
  text-align: right;

  p {
    margin: 0;
    font-size: 1.5em;
    font-style: italic;
  }
}

a.new-answer {
  @extend a.new-question;
}

.question-content{
  article {
    margin-right: 1em;
  }
}

// Small screen adjustments
@media (max-width: 425px) {
  .category-title {
    padding: 1em;

    h1 {
      font-size: 4em;
    }
  }

  a.new-question {
    margin: 1em 0;
  }

  form.question-form {
    width: 100%;
  }

  .question-prompt h3 {
    font-size: 1.5em;
  }

  .question-header {
    margin-top: 0;
  }

  .question-preview {
    padding-top: 0;
  }

  .question-title {
    padding: 0;

    h2 {
      font-size: 2em;
    }
  }
}
