// New Question Form
a.new-question {
  margin: 3em 0;
}

form.question-form {
  width: 75%;
  height: 100%;
  margin: 2em auto;
}

a.cancel-question {
  margin: 0.5em 0;
}

// Questions Index
.question-prompt {
  padding: 1.5em 1em;
  border-bottom: $border;
  border-radius: $radius;
  @include transition(all);

  .btn.btn-default {
    background: #c2d1dd;
    color: #666;
    @include transition(all);
  }

  &:hover {
    @include shadow;

    h3, h4 {
      color: $dark_blue;
    }
    .btn.btn-default {
      background: #ffdaa8;
      font-weight: bold;
    }
  }
}

.question-prompt .question-title {
  a:hover {
    text-decoration: none;
  }

  h3:hover {
    font-weight: bold;
  }
}

.question-preview {
  // @include align('center');
  padding-top: 1em;
  
  h4 {
    font-style: italic;
  }
}

.question-expand {
  @include justify('right');
}

.question-rating {
  @include justify('center');
}

.top-question {
  @include shadow;
  background: #c2d1dd;
}

// Full question
.full-question {

  .question {
    margin: 0.5em 0;
    padding: 2em;
    @include shadow;
  }

  p {
    font-size: 1.3em;
  }
}

.question-heading {
  margin-bottom: 1em;

  .user-option {
    @include justify('right');

    .question-edit {
      margin-right: 0.5em;
      color: #61819b;
    }

    .question-delete {
      color: #9c4c2a;
    }
  }
}

.user-info{
  padding-top: 1em;

  p {
    margin: 0;
    font-size: 0.8em;
    font-style: italic;
    @include justify('right');
  }
}

a.new-answer {
  @extend a.new-question;
}

.question-content{
  article {
    margin-right: 1em;
  }
}

// Small screen adjustments
@media (max-width: 425px) {
  a.new-question {
    margin: 1em 0;
  }

  .question-prompt h3 {
    font-size: 1.5em;
  }

  .question-header {
    margin-top: 0;
  }

  .question-preview {
    padding-top: 0;
  }
}
