#lightbox {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: $dark_background;
  
  form {
    margin: 0 auto;
    background: none;
    padding: 10px;
    text-align: left;
  }

  .close-lightbox {
    display: flex;
    @include justify('right');
    color: $red;

    &:hover {
      text-decoration: none;
    }
  }
} /* /#lightbox */

/* Small screen adjustments */
@media (max-width: 500px) {
  #lightbox {
    .form-title {
      h2, h3 {
        margin: 0;
      }
    }
  }
} /* /small screen adjustment */
