<div class="row category-row">
  <div class="col-sm-4 category-name">
    <%= link_to "<h3>#{category.name}</h3>".html_safe,
      category_questions_path(category),
      remote: true %>
  </div><!-- col-sm-4 category-name -->

  <div class="col-sm-5 category-description">
    <h4><%= category.description %></h4>
  </div><!-- col-sm-5 category-description -->

  <div class="col-sm-3 active-questions">
    <p>Active Questions: <strong><%= category.count_questions %></strong></p>
    <%= link_to 'Show questions',
      category_questions_path(category),
      class: 'btn btn-default',
      remote: true %>
  </div><!-- /.col-sm-3.active-questions -->
</div><!-- /.row.category-row -->
