<%= link_to 'Categories <span class="caret"></span>'.html_safe, '#',
  class: 'dropdown-toggle', 'data-toggle': 'dropdown', role: 'button' %>
<ul class="dropdown-menu">
  <% @categories.each do |category| %>
    <li><%= link_to category.name, category_path(category) %></li>
  <% end %>
</ul><!-- dropdown-menu -->

