<tr class="category-row">
  <td><h2><%= category.name %></h2></td>
  <td><p><%= category.description %></p></td>
  <td><p>Active questions: <strong><%= category.count_questions %></strong></p></td>
</tr>
