<div class="category-box" style="background-image: url(<%= image_url category.image_name %>)">
  <div class="category-name">
    <%= link_to "<h1>#{category.name}</h1>".html_safe,
      category_questions_path(category),
      remote: true %>
  </div><!-- /.category-name -->

  <div class="button">
    <%= link_to 'Explore',
      category_questions_path(category),
      class: 'btn btn-default',
      remote: true %>
  </div><!-- button -->
</div><!-- /.category-box -->
