<%= render 'categories/categories_menu' %>

<div class="title-card">
  <div class="container intro">
    <h1>TrueNorth</h1>
    <h2>Discover local adventure</h2>
  </div><!-- /.intro -->

  <div class="intro-buttons">
    <%= link_to 'Login',
      login_path,
      class: 'btn btn-default user-login',
      remote: true %>
    <%= link_to 'Sign Up',
      signup_path,
      class: 'btn btn-default user-signup',
      remote: true %>
  </div><!-- /.intro-buttons -->

  <%# Scroll down to categories preview %>
  <div class="scroll-button">
    <span class="glyphicon glyphicon-chevron-down"></span>
  </div><!-- /.scroll-button -->
</div><!-- /.title-card -->

<div id="main-content" class="container">
  <%= render '/categories/main_content' %>
</div><!-- /#main-content.container -->
