<%= render 'categories/categories_menu' %>

<div class="title-card">
  <div class="intro-title">
    <h1>TrueNorth</h1>
    <h2>Discover local adventure</h2>
  </div><!-- /.intro-title -->

  <% unless logged_in? %>
    <div class="intro-buttons">
      <%= link_to 'Login',
        login_path,
        class: 'btn btn-default user-login',
        remote: true %>
      <%= link_to 'Sign Up',
        signup_path,
        class: 'btn btn-default user-signup',
        remote: true %>
    </div><!-- /.intro-buttons -->
  <% end %>

  <%# Scroll down to categories preview %>
  <a class="scroll-down" href="#">
    <h3>Select a county below</h3>
    <span class="glyphicon glyphicon-chevron-down"></span>
  </a><!-- /.scroll-down -->
</div><!-- /.title-card -->

<div id="main-content" class="container-fluid">
  <%= render '/categories/main_content' %>
</div><!-- /#main-content.container -->
