<div id="category-menu" class="container-fluid">
  <%= render 'categories/categories_menu' %>
</div><!-- #category-menu.container -->

<div id="main-content" class="container">
  <%= render '/categories/main_content' %>
</div><!-- #main-content.container -->
