<%= render 'categories/categories_menu' %>

<div class="title-card">
  <h1>SoCal Kin</h1>
  <h2>Get answers to outdoor activities in your area.</h2>

  <div class="intro-buttons">
    <%= link_to 'Login',
      login_path,
      class: 'btn btn-default intro-login' %>
    <%= link_to 'Sign Up',
      signup_path,
      class: 'btn btn-default intro-signup' %>
  </div><!-- /.intro-buttons -->

  <%# Scroll down to categories preview %>
  <div class="scroll-button">
    <span class="glyphicon glyphicon-chevron-down"></span>
  </div><!-- /.scroll-button -->
</div><!-- /.title-card -->

<div id="main-content" class="container">
  <%= render '/categories/main_content' %>
</div><!-- /#main-content.container -->
