<%= render 'categories/categories_menu' %>

<div class="title-card">
  <h1>SoCal Kin</h1>
  <h2>Get answers to outdoor activities in your area.</h2>
</div><!-- /.title -->

<div id="main-content" class="container">
  <%= render '/categories/main_content' %>
</div><!-- /#main-content.container -->
