<h1>Categories</h1>

<div class="container categories-table">
  <table class="table">
    <% @categories.each do |category| %>
      <%= render 'categories/categories_table', category: category %>
    <% end %>
  </table>
</div><!-- container categories-table -->
