<footer>
  <p>
    Created by Jon Choukroun | 
    <%= link_to 'LinkedIn',
      url: 'https://www.linkedin.com/in/jonchoukroun',
      html: {class: 'linkedin'} %> | 
    <%= link_to 'GitHub',
      url: 'https://github.com/jonchoukroun',
      html: {class: 'github'} %>
  </p>
</footer>
