<nav class='navbar navbar-default navbar-fixed-bottom'>
  <div class="container footer">
    <p>
      Created by Jon Choukroun | 
      <%= link_to 'LinkedIn',
        'https://www.linkedin.com/in/jonchoukroun',
        html: {class: 'linkedin'} %> | 
      <%= link_to 'GitHub',
        'https://github.com/jonchoukroun',
        html: {class: 'github'} %>
    </p>
  </div><!-- /.container.footer -->
</nav>
